<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Angular Tic-Tac-Toe</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body class="container" ng-controller="MainController">
<h1 ng-show="winner">Winner is {{-1* player}}</h1>
<div>
  <div ng-repeat="row in cells track by $index">
    <div class="row">
      <a class="col-sm-1" ng-click="handleClick($parent.$index, $index)" ng-repeat="col in row track by $index">{{cells[$parent.$index][$index]}}</a>
    </div>
  </div>
</div>

  <script src="main.js"></script>
</body>
</html>
